{% extends 'base.html.twig' %}
{% import '_macros/alert.html.twig' as Dialog %}

{% block title %}Home !{% endblock %}

{% block body %}
    {{ Dialog.alert('Hello', 'warning') }}

    <header>
        {% if app.user %}
            {% if is_granted('ROLE_AUTHOR') %}
                <a href="{{ path('article_add') }}">Ajouter un nouvel article</a>
            {% endif %}

            <button class="btn btn-primary"><a class="color-text" href="{{ path('app_logout') }}">Se déconnecter</a></button>

            {% else %}
                <button class="btn btn-primary"><a class="color-text" href="{{ path('app_login') }}">Se connecter</a></button>
                <button class="btn btn-primary"><a class="color-text" href="{{ path('app_register') }}">S'enregistrer</a></button>
        {% endif %}

    </header>

    <div class="container">
        {% if articles is defined %}
            {% for article in articles %}
                {% if article.isPublished %}
                    <h1>{{ article.title }}</h1>
                    <p>{{ article.content }}</p>
                    <p>{{ article.author }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}

    </div>

{% endblock %}
