{% extends 'base.html.twig' %}
{% import '_macros/alert.html.twig' as Dialog %}

{% block title %}Home !{% endblock %}

{% block body %}
    {% if app.user %} <h1>{{ Dialog.alert('Bonjour' ~' '~ app.user.email, 'warning') }}</h1>
        <img src="upload.directory/{{ (app.user.avatar) }}" alt="" width="55vw" height="55vh">

    {% else%}
            {{  Dialog.alert('Bonjour', 'warning') }}
    {% endif %}

    <header>
        {% if app.user %}
            {% if is_granted('ROLE_AUTHOR') %}
                <button class="btn btn-primary"><a class="color-text" href="{{ path('article_add') }}">{{ 'Add a new article'|trans }}</a></button>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}<button class="btn btn-primary"><a class="color-text" href="/admin">{{ 'Admin' }}</a></button>{% endif %}
            <button class="btn btn-primary"><a class="color-text" href="{{ path('app_user') }}">Profil</a></button>
            <button class="btn btn-primary"><a class="color-text" href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a></button>


            {% else %}
                <button class="btn btn-primary"><a class="color-text" href="{{ path('app_login') }}">{{ 'Login' | trans}}</a></button>
                <button class="btn btn-primary"><a class="color-text" href="{{ path('app_register') }}">{{ 'Register' | trans }}</a></button>
        {% endif %}

    </header>

    <div class="container">
        {% if articles is defined %}
            {% for article in articles %}
                {% if article.isPublished %}
                    <h1>{{ article.title  }}</h1>
                    <img src="upload.directory/{{ (article.image) }}" alt="" width="155vw" height="95vh">
                    <p>{{ article.content }}</p>
                    <p>{{ article.author }}</p>
                    <a href="{{ path('comments_add', {id: article.id}) }}">{{ 'Add a comment'|trans}}</a>
                    {% if is_granted('ROLE_AUTHOR') %}
                        <a href="{{ path('article_edit', {'id': article.id}) }}">{{ 'Edit' | trans }}</a>
                        <a href="{{ path('article_delete', {'id': article.id}) }}">{{ 'Delete' | trans }}</a>
                    {% endif %}
                    <h1>Comments: </h1>
                    {% for comment in article.comments %}
                        <p>{{ comment.content }}</p>
                        <p>{{ comment.user.email }}</p>
                        {% if is_granted('ROLE_MODERATOR') %}
                            <a href="{{ path('comments_edit', {'id': comment.id}) }}"></a>
                            <a href="{{ path('comments_delete', {'id': comment.id}) }}">{{ 'Delete' | trans }}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}

    </div>

{% endblock %}
