{% extends 'base.html.twig' %}
{% import '_macros/alert.html.twig' as Dialog %}

{% block title %}Article{% endblock %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Content</th>
                <th>Image</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.content }}</td>
                    <td>{{ article.image }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('article_add') }}">Add a new item</a>
{% endblock %}
