{% extends 'base.html.twig' %}
{% import '_macros/alert.html.twig' as Dialog %}


{% block title %} Profil: {% endblock %}

{% block body%}

    <div class="container-profil">
        <div class="article_draft">
            <h1>{{  Dialog.alert('Profil: '~' '~ app.user.email, 'warning') }}</h1>
            <div id="contain-avatar">
                <img id="avatar" src="upload.directory/{{ (app.user.avatar) }}" alt="" >
            </div>
            <div class="button-profil">
                <button class="btn btn-primary"><a class="color-text" href="{{ path('edit_user', {'id': app.user.id }) }}">{{ 'Edit my profile' | trans }}</a></button>
                <button class="btn btn-primary"><a class="color-text" href="/">{{ 'home' | trans }}</a></button>
            </div>

            {% if is_granted('ROLE_AUTHOR') %}
                <h2 class="title-draft">{{ "Draft articles:" | trans}} </h2>
                {% for article in app.user.articles %}
                    {% if not article.isPublished %}
                    <div class="content-art">
                        <h1 class="title-article">{{ article.title }}</h1>
                        <p>{{ article.content }}</p>
                        <a href="{{ path('article_edit', {'id': article.id}) }}">{{ 'Edit' | trans }}</a>
                        <a href="{{ path('article_delete', {'id': article.id}) }}">{{ 'Delete' | trans }}</a>
                    {% endif %}
                 {% endfor %}
                    </div>
            {% endif %}
        </div>
{#        <div class="my-comment">#}
{#            {% for comment in app.user.comments %}#}
{#                <div class="myComments">#}
{#                    {{ comment.content }}#}

{#                    <a href="{{ path('comments_delete', {'id': comment.id}) }}">{{ 'Delete comment' | trans }}</a>#}
{#                    <a href=" {{ path('comments_edit', { 'id': comment.id }) }}">{{ 'Edit comment' | trans }}</a>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}

    </div>
{% endblock %}