{% extends 'base.html.twig' %}
{% import '_macros/alert.html.twig' as Dialog %}


{% block title %} Profil: {% endblock %}

{% block body%}

    <div class="container-profil">
        <div class="article_draft">
            <h1>{{  Dialog.alert('Profil: '~' '~ app.user.email, 'warning') }}</h1>
            <img src="upload.directory/{{ (app.user.avatar) }}" alt="" >

            <button class="btn btn-outline-primary"><a href="{{ path('edit_user', {'id': app.user.id }) }}">Edit my profile</a></button>
            <button class="btn btn-outline-primary"><a href="/">{{ 'home' }}</a></button>
            {% if is_granted('ROLE_AUTHOR') %}
                <h2>Draft articles: </h2>
                {% for article in app.user.articles %}
                    {% if not article.isPublished %}
                        <h1>{{ article.title }}</h1>
                        <p>{{ article.content }}</p>
                        <a href="{{ path('article_edit', {'id': article.id}) }}">Edit</a>
                        <a href="{{ path('article_delete', {'id': article.id}) }}">Delete</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="my-comment">
            {% for comment in app.user.comments %}
                <div class="myComments">
                    {{ comment.content }}

                    <a href="{{ path('comments_delete', {'id': comment.id}) }}">Delete comment</a>
                    <a href=" {{ path('comments_edit', { 'id': comment.id }) }}">Edit comment</a>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}